<section class="container" style="position: relative; background-color: white; color: black !important;">
<div class="row  shadow-sm p-3 mx-auto mt-2" style="height: 90vh;">
    <h4>Build Your Profile</h4>

    <div  class=" col-md-4 col-11  mx-auto  py-4 " style="height: 500px !important;">

<div class="bg w-100" style="border: solid rgba(0, 0, 0, 0.248) 0.1px; border-radius: 4px; position: relative; height: 350px; ">
<div class="w-100 h-100" style="overflow: hidden;">
    <img [src]="img1Url" alt="" class="w-100">
    <div class="w-100 h-100 d-flex justify-content-center align-items-center" *ngIf="!img1Url">

    </div>

</div>
<div class="" style="position: absolute; bottom: -25px; left: 10px;  ">
   
    <label for="img1">
        <i class="fa-solid fa-camera" style="font-size: 30px;"></i>

    </label>
    <input type="file" id="img1" #myImg1 (change)="getLinkForImg1(myImg1)" style="display: none;">

</div>
<div class="profileImg " style="position: absolute; bottom:-150px; right: 40px; " >
<div class="" style=" border-radius: 50%;  height: 170px;  width: 170px; border: solid rgba(0, 0, 0, 0.519) 0.1px; ">
<img [src]="img2Url" alt="" class="w-100">

</div>
<div style="position: absolute; bottom: 20px; left: 40%; z-index: 9999999;" class="">
    <label for="img2">
   
        <i class="fa-solid fa-camera" style="font-size: 30px;"></i>
     
    </label>

</div>
<input type="file" id="img2" #myImg2 style="display: none;" (change)="getLinkForImg2(myImg2)">

</div>
</div>

    </div>

   

<div  class=" col-md-8 col-11 p-2 mx-auto"> 
<div class="w-100">
<form [formGroup]="myForm" action="" class="row w-100 px-3 mx-auto py-2  data">
<div class="py-2 col-6">
    <label for="">Full Name</label>
    <input formControlName="fullName" type="text" class=" py-2 px-3  " placeholder="Full Name" >
</div>
<div class="py-2  col-6">
    <label for="">Mobile Phone</label>
    <input formControlName="mobilePhone" type="text" class=" py-2 px-3" placeholder="Mobile Phone">
</div>
<div class="py-2  col-6">
    <label for="">Jop</label>
    <input formControlName="jop" type="text" class=" py-2 px-3  mt-2" placeholder="Job">
</div>
<div class="py-2  col-6">
 

 <label for="Gender">Gender</label>
      <div class="form-check form-check-inline d-flex align-items-center">
        <input name="gender"  formControlName="gender" class="form-check-input" type="radio" name="gender" id="inlineRadio1" value="Male">
        <label class="" for="inlineRadio1">Male</label>
      </div>
      <div class="form-check form-check-inline d-flex align-items-center">
        <input name="gender" formControlName="gender" class="form-check-input" type="radio" name="gender" id="inlineRadio2" value="Female">
        <label class="" for="inlineRadio2">Female</label>
      </div>
      
  
</div>
<div class="py-2  col-6">
    <label>Birth Day</label> 
    <input formControlName="birthDay" type="date"  min="1940-01-01" max="2023-12-31"  name="" id="" class=" mt-0 py-1">
</div>
<div class="py-2  col-6">
<label>Hobbies</label>
<select class="py-2" id="hobbies" formControlName="hobbies">
    <option value="sports" selected>Sports</option>
    <option value="music">Music</option>
    <option value="reading">Reading</option>
    <option value="travel">Travel</option>
    <option value="gaming">Gaming</option>
    <option value="Writing">Writing</option>
    <option value="Art">Art</option>
    <option value="Programing">Programing</option>
  </select>
</div>
<h6 class="mt-2 mb-0">Short Bio</h6>
<div class="mt-3  d-flex justify-content-between">
<textarea formControlName="shortBio" name="" id="" placeholder="Write Short bio About Your Selfe" class=" "></textarea>
<div class="mt-3 d-flex justify-content-end">
    <button (click)="uploadImg(myImg1);uploadImg(myImg2)"  class="btn btn-light mx-3  px-3 py-2">Finish</button>
</div>
</div>

</form>
</div>
    </div> 

</div>





<div *ngIf="load"  class="w-100 d-flex justify-content-center align-items-center " style=" position:absolute; top: 0; height: 100%;">
    <app-loading></app-loading>
</div>
</section> 


