<div class="container mt-5">
    <form [formGroup]="myForm" (ngSubmit)="uploadImg2(img2Input)" class="row g-4 p-4 shadow-sm rounded bg-white">
      <div class="col-12 text-center row">
        <h2 class="mb-4">Adding and Editing Profile Data</h2>
      </div>
  
      
      <div class="col-md-8 mx-auto p-3" style="height: 300px; border:dashed black 0.1px ; overflow: hidden;">
        <label for="img1Input" class="form-label d-block text-center w-100 h-100">
          <img *ngIf="img1Url" [src]="img1Url " 
               alt="Profile Image 1" 
               class="w-100 mb-2" >

         
        </label>
        <input #img1Input type="file" id="img1Input" accept="image/*" class="d-none" (change)="getLinkForImg1(img1Input)" />
      </div>
      <div class="text-center w-100 d-flex justify-content-center">
        <button (click)="img1Input.click()" mat-raised-button color="primary" type="button" style="width: auto;display: block;">
          Cover Image 
        </button>
      </div>
      
      <div class="col-md-8 mx-auto" style="overflow: hidden; height: 100px; width: 100px;border-radius: 50%; border: dashed black 0.1px; ">
        <label for="img2Input" class="form-label d-block text-center mt-3" >
          <img  *ngIf="img2Url" [src]="img2Url" 
               alt="Profile Image 2" 
               class="w-100" 
              >
              
          
        </label>
        <input #img2Input type="file" id="img2Input" accept="image/*" class="d-none" (change)="getLinkForImg2(img2Input)" />
      </div>
      <div class="d-flex justify-content-center w-100">
        <button (click)="img2Input.click()" mat-raised-button color="accent" type="button">
          Profile Image
        </button>
      </div>
  
      <!-- الاسم الكامل -->
      <div class="col-md-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label> Full Name</mat-label>
          <input matInput formControlName="fullName" placeholder="ادخل الاسم الكامل">
          <mat-error *ngIf="myForm.get('fullName')?.hasError('required')">
            Required
        </mat-error>
          <mat-error *ngIf="myForm.get('fullName')?.hasError('minlength')">
            MinLength is 3
        </mat-error>
          <mat-error *ngIf="myForm.get('fullName')?.hasError('pattern')">
            Just A-Z
          </mat-error>
        </mat-form-field>
      </div>
  
      <!-- رقم الموبايل -->
      <div class="col-md-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label> Phone Number</mat-label>
          <input matInput formControlName="mobilePhone" placeholder="01XXXXXXXXX">
          <mat-error *ngIf="myForm.get('mobilePhone')?.hasError('required')">
             Required
          </mat-error>
          <mat-error *ngIf="myForm.get('mobilePhone')?.hasError('pattern')">
            Enter Available Phone Number
        </mat-error>
        </mat-form-field>
      </div>
  
      <!-- المهنة -->
      <div class="col-md-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Job</mat-label>
          <input matInput formControlName="jop" placeholder="ادخل المهنة">
          <mat-error *ngIf="myForm.get('jop')?.hasError('required')">
            Required 
          </mat-error>
        </mat-form-field>
      </div>
  
      <!-- الجنس -->
      <div class="col-md-6">
        <label class="d-block mb-1">Gender</label>
        <mat-radio-group formControlName="gender" class="d-flex gap-3">
          <mat-radio-button value="male">Male</mat-radio-button>
          <mat-radio-button value="female">Female</mat-radio-button>
        </mat-radio-group>
        <div *ngIf="myForm.get('gender')?.invalid && myForm.get('gender')?.touched" class="text-danger small">
           Gender
        </div>
      </div>
  
      <!-- تاريخ الميلاد -->
      <div class="col-md-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label> Birth Day</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="birthDay" placeholder="اختر التاريخ">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="myForm.get('birthDay')?.hasError('required')">
              Required
          </mat-error>
        </mat-form-field>
      </div>
  
      <!-- الهوايات -->
      <div class="col-md-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Hoppies</mat-label>
          <mat-select formControlName="hobbies">
            <mat-option value="sport">SPORT</mat-option>
            <mat-option value="music">MUSOC</mat-option>
            <mat-option value="reading">READING</mat-option>
            <mat-option value="travel">TRAVELLING</mat-option>
            <mat-option value="travel">PROGRAMING</mat-option>
            <mat-option value="travel">SWEMING</mat-option>

          </mat-select>
          <mat-error *ngIf="myForm.get('hobbies')?.hasError('required')">
             HOBBIES
          </mat-error>
        </mat-form-field>
      </div>
  
      <!-- نبذة قصيرة -->
      <div class="col-12">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label> Short bio</mat-label>
          <textarea matInput formControlName="shortBio" rows="4" placeholder="عن نفسك"></textarea>
          <mat-error *ngIf="myForm.get('shortBio')?.hasError('required')">
            Required
          </mat-error>
        </mat-form-field>
      </div>
  
      <!-- زر الحفظ -->
      <div class="col-12 text-center">
        <button mat-raised-button color="primary" type="button" (click)="uploadImg1(img1Input,img2Input);">
          {{ load ? ' ...LOADING' : ' SAVEING' }}
        </button>
        <button routerLink="/home" mat-raised-button color="danger" type="button" class="mx-5">
          {{ load ? ' ...LOADING' : ' Skip' }}
        </button>
      </div>
    </form>
  </div>
  