<section @zoomInOut>

    <div class="pageHeader " style="height: auto;">
        <div class="cover d-flex justify-content-end w-100" [ngStyle]="{'background-image':'url('+profileData.img1+')'}" style="position: relative;">
            <div  class="profileImg d-flex ">
                <img [src]="profileData.img2" alt="" class="w-100">
            </div>
        
        </div> 
        <div>
        </div>
        </div>

                
        <div class="w-50 m-4">
            <app-send-requst [resiverId]="profileData.userId" [notNum]="profileData.notifNums" [personName]="profileData.fullName" [personImage]="profileData.img1"></app-send-requst>

        </div>


        <div class="shadow-lg p-3">
<ul>

<li>{{profileData.fullName}}</li>
<li>{{profileData.email}}</li>
<li>{{profileData.jop}}</li>
<li>{{profileData.mobilePhone}}</li>
<li>{{profileData.gender}}</li>
<li>{{profileData.hobbies}}</li>
<li style="list-style: none; margin: auto; text-align: center;">"{{profileData.shortBio}}"</li>

</ul>
<h4 *ngIf="profileData.frinds">Frinds : {{profileData.frinds.length}}</h4>

<div *ngIf="profileData.frinds">

    <div class="d-flex align-items-center">
        <div  *ngFor="let frind of profileData.frinds " class="m-2 d-flex" style="width: 40px; height: 40px;">
            <div class="img w-100 h-100 mt-2 mx-0 p-0 " style="border: solid rgba(0, 0, 0, 0.329) 0.1px;" >
            <img [src]="frind.frindImg" alt="" class="w-100">
            </div>
         
            <hr>
            
            </div>
    </div>
        

</div>
<hr>
<div class="d-flex align-items-center bg-success p-2 text-white">
    <i class="fa-brands fa-facebook-messenger my-0 " style="font-size: 30px; color: white;"></i>

    <h4 class="mx-4">Texting</h4>
</div>
            
        </div>







<div class="mt-4">
    <h4>Posts : {{userPosts.length}}</h4>
    <app-the-post [allPosts]="userPosts"></app-the-post>
</div>
 
        