<section @zoomInOut>

    <div class="pageHeader " style="height: auto;">
        <div class="cover d-flex justify-content-end w-100" [ngStyle]="{'background-image':'url('+profileData.img1+')'}" style="position: relative;">
            <div  class="profileImg d-flex ">
                <img [src]="profileData.img2" alt="" class="w-100">
            </div>
        
        </div> 
        <div>
        </div>
        </div>

                
        <div class="w-50 m-4">
            <app-send-requst [resiverId]="profileData.id" [personName]="profileData.fullName" [personImage]="profileData.img1"></app-send-requst>

        </div>


        <div class="shadow-lg p-3">
<ul>

<li>{{profileData.fullName}}</li>
<li>{{profileData.email}}</li>
<li>{{profileData.jop}}</li>
<li>{{profileData.mobilePhone}}</li>
<li>{{profileData.gender}}</li>
<li>{{profileData.hobbies}}</li>
<li style="list-style: none; margin: auto; text-align: center;">"{{profileData.shortBio}}"</li>

</ul>

<div class="col-12">
<app-frinds [myId]="userId" class="w-100"></app-frinds>

</div>
<hr>
<div routerLink="/chat"      [queryParams]="{ name: profileData.fullName, photo: profileData.img1,id:profileData.id }" class="d-flex align-items-center bg-success p-2 text-white" style="cursor: pointer;">
    <i class="fa-brands fa-facebook-messenger my-0 " style="font-size: 30px; color: white;"></i>

    <h4 class="mx-4">Texting</h4>
</div>
            
        </div>







<div class="mt-4 col-md-7  col-11">
    <h4>Posts : {{userPosts.length}}</h4>
    <app-the-post [allPosts]="userPosts"></app-the-post>
</div>
 
        