


      <div class="post-container">

        <div class="post-header">
          <img class="profile-pic" [src]="profilData.img1" alt="Profile Picture">
          <div class="user-info">
            <h4>{{profilData.name}}</h4>
            <p>Share What is in Your Mind..</p>
          </div>
        </div>
      
    
        <div class="post-body">
          <textarea  [(ngModel)]="post" placeholder=" What do you think?"></textarea>
        </div>
      
      
        <div class="post-footer">
          <button [disabled]="post==''" (click)="senPost()" class="post-btn">نشر</button>
        </div>
      </div>
      