<div class="container">
    <div>
   

    </div>
    <div class="row">
        <div *ngFor="let request of myRequsts" class="col-md-11">
            <div class="w-100 p-3 d-flex justify-content-between" style="border: solid rgba(0, 0, 0, 0.097) 0.1px;">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="" style="width: 60px ; height: 60px ; border-radius: 50%; overflow: hidden;">
                        <img [src]="request.userImg" alt="" class="w-100">
                        </div>
                               <div>
                                <p class="my-0 mx-3">{{request.userName}}</p>
                               </div>
                </div>
              

                 <app-send-requst  [resiverId]="request.userId" [personName]="request.userName" [personImage]="request.userImg"></app-send-requst>

     </div>
        </div>
    </div>

</div>