

.warn
{
    color: red; font-size: 13px; padding: 0 30px; position:absolute; top: 0; left: 48%;
}
@media only screen and (max-width:768px)
{
    .theform
    {
        width: 100% !important;
font-size: 80% !important;
    }
    .photo
    {
        display: none !important;
        overflow: hidden;
    }
    .warn
    {
        left: 30% !important;
    }
    input
    {
        padding:10px 50px !important;
    }
    .resign
    {
        width: 90% !important;
        height: 70vh !important;
    }
}
.resign
{
    height: 60vh;
}
.form-control:focus +.icon
{
    color: rgb(9, 246, 45) !important;
}

.theform
{
    width: 70%;
}
.photo
{
    width: 30%;
}
input
{
    width: 100%;
    outline: none;
    border: solid rgba(0, 0, 0, 0.238) 0.5px ;
    color: rgb(244, 2, 244) !important;
    padding:10px 50px;
}


