<div class="container" style="position: relative; " @zoomInOut> 

    <div class="row">
        <div class="col-md-4 col-12" style=" right: 0;overflow-y: auto;height: auto;">
            <div class="py-3">
          <app-frinds [myId]="myId"></app-frinds>
            </div>

<div>
    <app-add-post-style></app-add-post-style>
    
</div>
<hr>
<div>
    <h1>Message</h1>
    <hr>
</div>
        </div>

        <div class="col-md-8 col-12 ">
            <!-- Search  -->
            <h1>Posts</h1>
      

<!-- Posts -->
<app-the-post [allPosts]="sortedPosts"> </app-the-post>

        </div>




        <!-- seconde side -->
      
    </div>
</div>

