
<div @zoomInOut>
    <app-frindsrequests></app-frindsrequests>
    <hr>
</div>


    <section @zoomInOut class="container-fluid mt-3 px-3">
        <div class="myinput my-3" style="position: relative;">
            <input type="text" placeholder="search Frinds" (keyup)="searchAboutFrinds($event)">
            <div class="d-flex align-items-center justify-content-center" style="position: absolute; font-size: 25px;  top: 0; height: 60px; width: 100px;">
                <i class="fa-solid fa-magnifying-glass " style="color: black;"></i>
            </div>
        </div>
<div class="row">
<div>
    <h5> Frinds {{myFrinds.length}} </h5>
</div>
        <div  *ngFor="let i of myNewFrinds;trackBy:trackById" class="frind col-md-3 col-12  frind p-3 my-2" >
<div  (click)="userProfile(i.frindId)"  class="inCenter justify-content-start" >
<div class="img">
<img [src]="i.frindImg" alt="" class="w-100">
</div>
<p class="mx-2">{{i.frindName}}</p>
<p style="color: green;">Frind</p>
</div>
</div>

        </div>
    </section>