
    <div @zoomInOut>
        <app-frindsrequests></app-frindsrequests>
        <hr>
    </div>

    <div class="frinds mt-2">
        <h1>Frinds: {{myFrinds.length}}</h1>

<div class="d-flex align-items-center">
    <div *ngFor="let frind of myFrinds| slice:0:6;trackBy:trackById">
<div class="img">
<img [src]="frind.frindShip.frindImage" alt="" class="w-100">
</div>
    </div>
    <button class="btn mx-3 p-2"     type="button"
    data-bs-toggle="offcanvas"
    data-bs-target="#offcanvasFrinds"
  (click)="showAll()">{{state}} All</button>
</div>
    </div>



     <div class="offcanvas offcanvas-bottom w-100   mx-auto "  id="offcanvasFrinds"  style="height: 70vh; overflow-y: auto !important; position: absolute;left: 0;z-index: 999999999 !important;">
         
        <div class="my-4 p-3 myinput">
            <input (keyup)="search(frind)" type="text" name="" id="" class=" w-75 py-3" placeholder="search" #frind>
        </div>
        <div (click)="scrollToTop()" *ngFor="let frind of searchedFrinds;trackBy:trackById" class="frind d-flex align-items-center px-4 my-2" [routerLink]="['/userProfile',frind.frindShip.frindId]">
            <div class="img" style="width: 60px; height: 60px;">
            <img [src]="frind.frindShip.frindImage" alt="" class="w-100" >
            </div>
            <h6 class="mx-3">{{frind.frindShip.frindName}}</h6>
            <hr>

                </div>
                
      </div>
