<section   class="profile w-100  p-4 m-0" style="position: relative; " @zoomInOut>



<div >
    <!--  background and Profile Images -->
    <div class="cover d-flex justify-content-end w-100" [ngStyle]="{'background-image':'url('+profilData.img2+')'}" style="position: relative;">
    <div  class="profileImg d-flex ">
        <img [src]="profilData.img1" alt="" class="w-100">
    </div>

</div> 
<!--  -->


<!--  user Information -->





<div class="shadow-lg p-3">
    <ul>
    
    <li>{{profilData.fullName}}</li>
    <li>{{profilData.email}}</li>
    <li>{{profilData.jop}}</li>
    <li>{{profilData.mobilePhone}}</li>
    <li>{{profilData.gender}}</li>
    <li>{{profilData.hobbies}}</li>

    <li style="list-style: none; margin: auto; text-align: center;">"{{profilData.shortBio}}"</li>
    
    </ul>
  <button class="btn btn-warning p-1 text-white mt-2 mx-0">Edite Profile</button>

    <h4 *ngIf="profilData.frinds" class="mt-2">Frinds : {{profilData.frinds.length}}</h4>
    
    <div *ngIf="profilData.frinds">
    
      <div class="d-flex align-items-center">
        <div  *ngFor="let frind of profilData.frinds " class="m-2 d-flex" style="width: 40px; height: 40px;">
            <div class="img w-100 h-100 mt-2 mx-0 p-0 " style="border: solid rgba(0, 0, 0, 0.329) 0.1px;" >
            <img [src]="frind.frindImg" alt="" class="w-100">
            </div>
         
            <hr>
            
            </div>
            
      </div>
    
    </div>
    <hr>
    <div class="d-flex align-items-center bg-success p-2 text-white">
        <i class="fa-brands fa-facebook-messenger my-0 " style="font-size: 30px; color: white;"></i>
    
        <h4 class="mx-4">Texting</h4>
    </div>
                
            </div>
    
    
<!--  Pluse Icon to Add Post -->
            <div>
                <app-add-post-style></app-add-post-style>
                
            </div>
    
    
    
    
    
</div>

</section>



    <!--  -->
<hr>



<app-the-post [allPosts]="allPosts"></app-the-post>

        
  

    
        <!--  -->


            

