<section   class="profile w-100  p-4 m-0" style="position: relative; " @zoomInOut>



<div >
    <!--  background and Profile Images -->
    <div class="cover d-flex justify-content-end w-100" [ngStyle]="{'background-image':'url('+profilData.img1+')'}" style="position: relative;">
    <div  class="profileImg d-flex ">
        <img [src]="profilData.img2" alt="" class="w-100">
    </div>

</div> 
<!--  -->


<!--  user Information -->





<div class="shadow-lg p-3">
    <ul>
    
    <li>{{profilData.fullName}}</li>
    <li>{{profilData.email}}</li>
    <li>{{profilData.jop}}</li>
    <li>{{profilData.mobilePhone}}</li>
    <li>{{profilData.gender}}</li>
    <li>{{profilData.hobbies}}</li>

    <li style="list-style: none; margin: auto; text-align: center;">"{{profilData.shortBio}}"</li>
    
    </ul>
  <button routerLink="/add_data" class="btn btn-warning p-1 text-white mt-2 mx-0">Edite Profile</button>

   <app-frinds [myId]="id"></app-frinds>
    <hr>
    <div  class="d-flex align-items-center bg-success p-2 text-white">
        <i class="fa-brands fa-facebook-messenger my-0 " style="font-size: 30px; color: white;"></i>
    
        <h4 class="mx-4">Texting</h4>
    </div>
                
            </div>
    
    
<!--  Pluse Icon to Add Post -->
            <div>
                <app-add-post-style></app-add-post-style>
                
            </div>
    
    
    
    
    
</div>

</section>



    <!--  -->
<hr>



<div class="col-md-8 col-12 mx-auto">
    <app-the-post [allPosts]="allPosts"></app-the-post>
</div>

        
  

    
        <!--  -->


            

